# PREDICTING HOUSE PRICES USING MACHINE LEARNING

1.Importing the necessary Packages

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

2.Load the data into the DataSet

In [3]:
data = pd.read_csv('USA_Housing.csv')

In [4]:
data.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

3.Data Preprocessing and Handling missing values

In [11]:
data = data.dropna()

# Convert categorical features into numerical representations
data = pd.get_dummies(data)

5.Feauture Selection

In [10]:
features = ['Avg. Area Income', 'Avg. Area Number of Rooms', 'Area Population', 'Price']

6.Model Selection

In [14]:
# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(data[features], data['Price'], test_size=0.25, random_state=42)

# Create a linear regression model and random forest regression model
models = [LinearRegression(), RandomForestRegressor()]

7.Model Training and Evalution

In [17]:
# Evaluate each model
for model in models:

    # Train the model
    model.fit(X_train, y_train)

    # Make predictions on the test set
    y_pred = model.predict(X_test)

    # Calculate evaluation metrics
    mae = mean_absolute_error(y_test, y_pred)
    rmse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)

    # Print the results
    print(model.__class__.__name__, ':')
    print('MAE:', mae)
    print('RMSE:', rmse)
    print('R-squared:', r2)

LinearRegression :
MAE: 3.3925753086805345e-10
RMSE: 1.8978755741451414e-19
R-squared: 1.0
RandomForestRegressor :
MAE: 458.8570255160613
RMSE: 15425116.093887176
R-squared: 0.9998711612819488